@use "variables" as *;

* {
          box-sizing: border-box;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  line-height: 1.5;
}

@media screen and (max-width: $mobile) {
  html {
    font-size: 0.875rem;
  }
}

body {
  color: $text-color;
  background-color: $bg-color;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
}

.fake-image {
    height: 3.125rem;
    background-color: $black-05;
    border: 1px solid $black-30;
    margin-top: $space-2;
    margin-bottom: $space-2;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
