@use "variables" as *;

button {
  font-size: $space-3;
  padding: 0.65rem $space-4 0.75rem $space-4;
  background: $white;
  border: solid 1px $blue;
  border-radius: $radius-md;

  -webkit-transition: $transition-base;
     -moz-transition: $transition-base;
      -ms-transition: $transition-base;
       -o-transition: $transition-base;
          transition: $transition-base;
}

button:hover, button.hover {
  border-color: $blue;
  background-color: $blue;
  color: $white;
  cursor: pointer;
  transform: translateY(-2px);
}

button:hover a {
  text-decoration: none;
  color: $white;
}
