@use "variables" as *;

h1, h2, h3, h4, h5, h6 {
  // text-rendering: optimizeLegibility;
}

h1 {
  font-size: 2.25rem;
  margin-top: $space-4;
  margin-bottom: $space-2;
  line-height: 1.25;
}

h2 {
  font-size: 2rem;
  margin-top: $space-4;
  margin-bottom: $space-2;
}

h3 {
  font-size: 1.5rem;
  margin-top: $space-4;
  margin-bottom: $space-2;
}

h4 {
  font-size: 1.25rem;
  margin-top: $space-4;
  margin-bottom: $space-2;
}

h5 {
  font-size: 1rem;
  margin-top: $space-4;
  margin-bottom: $space-2;
}

h6 {
  font-size: 0.875rem;
  margin-top: $space-4;
  margin-bottom: $space-2;
}

p {
  margin-top: $space-3;
  margin-bottom: $space-3;
}

a {
  color: $blue;
  text-decoration: none;
  transition: $transition-fast;
}

a:hover, a:focus {
  color: $dark-blue;
  text-decoration: underline;
  text-decoration-color: $light-silver;
}

hr {
  margin: $space-5 0;
  border: 0;
  border-top: 1px solid $border-color;
}

abbr {
  font-size: 85%;
  font-weight: bold;
  color: $mid-gray;
  text-transform: uppercase;
}

blockquote {
  padding: 0 $space-4;
  margin: 0;
  color: $gray;
  border-left: $space-1 solid $light-gray;

  @media (max-width: $mobile) {
    padding-right: $space-10;
    padding-left: 1.25rem;
  }
}

// Footnote number within body text, Back to footnote link
a[href^="#fn:"], a[href^="#fnref:"] {
  display: inline-block;
  margin-left: 0.1rem;
  font-weight: bold;
}

// List of footnotes
.footnotes {
  margin-top: $space-6;
  font-size: 85%;
}

// Paragraph modifier for larger introductory text
.lead {
  font-size: 1.3rem;
  font-weight: 300;
  color: $dark-gray;
}

time {
  color: $gray;
}

ul, ol {
  padding-left: $space-4;

  @media (max-width: $mobile) {
    padding-left: $space-4;
  }
}
